.main {
	overflow-x: hidden;
}

.navbar-style {
	margin-bottom: 0px;
}

.sidebar {
	
}

.sidebar-header {
	
}

.sidebar-content {
	padding-left: 10px;
}

.sidebar-list-item {
	list-style-type: none;
}
